.toggle{
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  margin-right: 10px;
  margin-top: 30px;
  text-align: center;
  cursor: pointer;
}

.dltbtn{
  margin-top: 15px;
  margin-right: 5px;
}

.top{
 box-sizing: border-box;
  /* background-color: rgb(173, 221, 136); */
  background: linear-gradient(blue, yellow);

  border: 25px solid rgb(1, 1, 38);
  min-height: 100vh;
}

/* .dltall{
  
} */




.heading{
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  color: rgb(241, 116, 26);
}



.container {
  padding: 20px;
}

.inputTask {
  margin-bottom: 20px;
}

.inputTask input {
  width: 95%;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: block;
}